.pagination {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 80px;
}

span {
    margin: 0 5px;
    cursor: pointer;
}

.active {
    font-weight: bold;
}

.title {
    width: 50px;
    padding: 0;
}

.menu {
    width: 50px;
    padding: 0;
}