.selectBlock {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 160px;
    cursor: pointer;
}

.title {
    border: 1px black solid;
    border-radius: 5px;
    display: inline-block;
    padding: 0 4px;
    width: 160px;
    text-align: center;
    position: relative;
    background-color: bisque;
}

.title span {
    position: absolute;
    right: 1px;
}

.menu {
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 2px;
    width: 168px;
    position: absolute;
    background-color: bisque;
    text-align: center;
}

.active:hover {
    background-color: #00a8b2;
}